.vscode/**
build/**
designs/**
docs/**
src/**
tests/**
.gitignore
.travis.yml
cSpell.json
k.yml
tsconfig.json
tsconfig-cli.json
tsconfig-compiler.json

bin/arglang-parser.js
bin/cli.js
bin/cli.js.map
bin/karyscript-core.js
bin/karyscript-core-js.map
bin/parser.js